# Fuentes externas que se van agregando para el proyecto
.tit{
  font-family: 'Bree Serif', serif;
}

.jumtit{
  font-family: 'Neucha', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

body {
  padding-top: 3.5rem;
}

.thumby{

}
