
.tit{
  font-family: 'Neucha', cursive;
  font-size: 18px;
}

.jumtit{
  font-family: 'Cabin Sketch', cursive;
  font-weight: 900;
  font-style: normal;
}

body {
  padding-top: 3.5rem;
}

.nav-sketch{
  font-family: 'Cabin Sketch', cursive;
}

.bg-jumb{
  background-color: #789bc1 !important;
}

.img-conf{
  height: 200px;
  weight: 200px;
}
